/* FULL EDITION */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* CORPO COMPLETO DA PAGINA */
body {
  background: radial-gradient(circle,rgba(210, 180, 140, 0.650),rgba(210, 180, 140, 0.400),rgba(245, 230, 208, 0.350),rgba(245, 230, 208, 0.300));
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* CONTAINER PRINCIPAL */
#container {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 0px;
  padding: 0px 24px;
}

/* PROFILE */
#profile {
  text-align: center;
}

/* IMAGEM */
#profile img {
  width: 200px;
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.156);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.400);
}

#profile img:hover {
  scale: 1.01;
  transition: 0.2s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.550);
}

/* NOME EMPRESA */
.nomeEmpresa {
  font-size: 22px;
  font-weight: 900;
  line-height: 24px;
  margin: 10px 0px 5px 0px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.350);
}

/* HORARIO DE FUNCIONAMENTO */
.horario {
  font-size: 12px;
  padding: 5px;
}

/* TITULO LINKS */
.titulo {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.280);
  margin-top: 20px;
}

/* LINKS */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 0px;
}

ul li a {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.800);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  
  text-decoration: none;
  font-weight: 500;
}

ul li a:hover {
  transition: 0.1s;
  background: rgb(255, 255, 255);
  border: 1.5px solid rgb(50, 50, 50);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.800);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

button p {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 16px;
}

button:hover {
  transition: 0.1s;
  background: rgb(255, 255, 255);
  border: 1.5px solid rgb(50, 50, 50);
}

.popupTela {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popupShow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.containerX {
  display: flex;
  justify-content: right;
}

.closeButton {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.containerContatos {
  padding: 20px 10px 20px 10px;
}

.containerContatos a {
  padding: 20px 60px 20px 60px;
}

ion-icon {
  margin-right: 8px;
}

button ion-icon {
  font-size: 16px;
}

/* LOCALIZAÇÃO */
.containerlocal {
  display: flex;
  justify-content: center;
}

.containerlocal section {
  width: 380px;
  height: 240px;

  margin: 12px 12px 18px 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.300);
}

.mapa {
  width: 100%;
  height: 100%;
}